/* Estilização */

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

header{

    background-color: #c74040;
    color: white;
    padding: 10px 0;
    text-align: center;

}

h2{

    margin-top: 0px;
    
}

p{
    font-family: 'Roboto';
    font-size: larger;
}

nav ul{

    list-style: none;
    padding: 0;
    

}

nav ul li{

    display: inline;
    margin: 0 10px;
    font: 500px 22'head';
    font-size: large;

}

.card{

    display: flex;
    flex-direction: column;
    background-color: #ddcece;
    width: 500px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.tt-card{

    font-size: 20px;
    text-align: center;
}

img{

    width: 500px;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

main{

    padding: 20px;

}

footer{

    background-color: #2b2929;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;

}

/* Responsividade */

@media (max-width: 768px) {

    nav ul li{

        display: block;
        margin: 5px 0;

    }

    footer{

        position: static;

    }

}

@media (max-width: 480px) {
    
    header h1{

        font-size: 1.5em;

    }

    main{

        padding: 10px;

    }
    
}

/* Animation */

nav ul li:hover{

    border-radius: 0.5rem;
    background-color: #0e0c0c;
    color: #c74040;
    transition: 0.4s;
    height: 50px;
    width: 100px;

}

.card:hover{

    box-shadow: 5px 5px 10px 10px #c74040;
    transition: 0.5s;
    width: 550;

}

